<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> Simple Upstox OAuth Client</title>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center">This is a simple OAuth client for Upstox </h1>
    {% if alert_flag %}
    <div class="alert alert-danger" role="alert">
        {{alert_text}}
    </div>
    {% endif %}
    <h2 class="text-left">If Setup is already complete </h2>
    {% if is_auth %}
    <a href="{% url 'djangologout' %}" class="btn btn-primary " role="button" aria-pressed="true">Admin Logout </a>
    <a href="{% url 'login' %}" class="btn btn-primary " role="button" aria-pressed="true">Login with Upstox</a>
    <a href="{% url 'readaccesstoken' %}" class="btn btn-primary " role="button" aria-pressed="true">Read Existing Access Token</a>
    
    {% else %}
    <a href="{% url 'djangologin' %}" class="btn btn-primary " role="button" aria-pressed="true">Admin Login </a>
    {% endif %}
    <br/><br/><h2 class="text-left">How to set up </h2>
    <a href="https://github.com/swapniljariwala/upstox_oauth"> Follow this link to read more on steps to setup Upstox Oauth Client </a>
    <br/><br/><h3 class="text-left">Steps- </h3>
    <p>Clone git repository:</p> <p> <kbd>git clone https://github.com/swapniljariwala/upstox_oauth.git </kbd> </p>
    <p><kbd> cd upstox_oauth</kbd></p>
    <p><kbd> pip install -r requirements.txt</kbd></p>
    <p>Now configure go to your <a href="https://developer.upstox.com/#/apps"> Upstox API Console </a> and set up redirect url as <a href="http://localhost:8000/upstox/redirect/"> http://localhost:8000/upstox/redirect/. </a></p>

    <p> Copy API and Secret Keys from API console and set up environment </p>
    <p><kbd> python manage.py setenv</kbd><br/><kbd> Enter API KEY: Your-api-key</kbd><br/><kbd> Enter API SECRET: Your-secret-key</kbd></p>
    <p> Run Django development server</p>
    <p><kbd> python manage.py runserver</kbd></p>
    <p> Hopefully there should be no errors. You are all set. </p>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </body>
</html>